h1 {
  font-size: 9px;
  color: #ffffff;
  padding: 3px 0 0 15px;
}

body {
  margin: 0;
  padding: 0;
  color: #333333;
  background: url(/images/back_img.png);
  font-family:
    'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Verdana, Arial,
    'ＭＳ Ｐゴシック', Osaka, san-serif;
  line-height: 1.3;
}
